<%- include('./header.ejs')%>

<div class="ourstory">
    <h1 class="text-center ourstoryheading">OUR STORY</h1>
  </div>

  <div class="container-fluid">
    <div class="container">
      <h2 class="text-center aboutus mt-5">
       <b> ABOUT US</b>
      </h2>
      <br />
      <div class="row">
        <div class="col-md-5 mt-2">
          <img
            class="img1 shadow-lg mb-5 w-100"
            src="image/kishan.jpeg"
            alt=""
          />
        </div>
        <div class="col-md-7 welcome">
          <p class="b" style="font-weight: 100; font-size: 18px">
            Welcome to our admission portal! We are delighted to provide you with an exceptional platform designed to streamline your admission process and help you achieve your educational goals. <br><br>
            At our portal, we understand the importance of a seamless and user-friendly experience. We strive to create an environment where students can explore educational opportunities, submit applications, and track their progress effortlessly. With our user-centric approach, we aim to simplify the admission journey for every aspiring individual. <br> <br>
            We value your trust in our admission portal and are committed to maintaining the highest standards of security and confidentiality. Your personal information is protected with robust security measures, allowing you to explore your educational opportunities with peace of mind.
          </p>
        </div>
      </div>
      <!--row end-->
    </div>
    <!--container end-->
  </div>
  


<%- include('./footer.ejs')%>