.form{
    margin-top: 8rem;
}
.imageheight img{
    height: 670px;
}
.loginblock button{
    height: 40px;
    font-size: 18px;
    background-color:#397e82e6;
    color: white;
    border: none;
    margin-bottom: 10px;
    margin-top: 25px;
}
.loginblock button:hover{
    background-color: rgb(37 103 106);
}

.head h6{
    font-size: 14px;
    padding: 8px 0px 0 75px;
}
.register h6{
    font-size: 14px;
    padding-top: 8px;
    margin-left: 25%;
}
p{
    margin-top: -9px;
    margin-bottom: 1rem;
    font-size: 14px;
}
@media(max-width:670px){
    .imageheight img{
        height: 450px;
    }        
}